html, body, #map-canvas { height: 100%; margin: 0; padding: 0;}
div.mainDiv {
	
}
div.rightBar {
  height: 100%;
  width: 850px;
  position: fixed;
  left: 810px;
  top: 21px;
  overflow-y: auto;
}
div.box-sel {
	padding: 0 10px 10px 0;
	display: block;
}
div.sel-map {
	width: 400px; 
	height: 250px;
	float: left; 
	display: block
}
div.sel-info {
	width: 400px;
	float: left; 
	display: block;
}
div.clear-div {
	clear: both;
}